{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/prop-types": [
      "off",
      {}
    ],
    "react/jsx-one-expression-per-line": [
      "off",
      {}
    ],
    "object-curly-newline": [
      "error",
      {
        "ImportDeclaration": "never"
      }
    ],
    "import/no-cycle": "warn"
  }
}
