{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prop-types": [
      0,
      {}
    ],
    "react/jsx-one-expression-per-line": [
      "off",
      {}
    ],
    "object-curly-newline": [
      "error",
      {
        "ImportDeclaration": "never"
      }
    ]
  }
}
